{% extends "../page/base.html" %} 

{% block title %}
	<title>删除文章</title>
{% end %} 

{% block mainbody %} 
	<div class="row">
		<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-push-1 col-sm-push-2 col-md-push-2 col-lg-push-2">
			<ul class="nav nav-tabs">
				<li role="presentation">
					<a class="btn-warning" href="{{back_dir}}/logout">退出</a>
				</li>
	
				<li role="presentation">
					<a href="{{back_dir}}?modify=introduce">简介修改</a>
				</li>
				<li role="presentation">
					<a href="{{back_dir}}?modify=articlelist">文章管理</a>
				</li>
				<li role="presentation" class="active">
					<a>删除文章</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-push-1 col-sm-push-3 col-md-push-3 col-lg-push-3">
			<p class="text-success">Note:点击标题即可删除文章</p>
		</div>
	</div>
	<div class="row list-top">
		<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-push-1 col-sm-push-3 col-md-push-3 col-lg-push-3 sub-a">
			<!-- 虽然看起来跟articlelist一样，但是后台传的数据是不一样的，有细微差别 -->
			{% raw articlelist %} {% raw info_message %}
		</div>
	</div>
{% end %}