{% extends "../page/base.html" %}

{% block title %} 
	<title>简介</title>
{% end %}

{% block mainbody %} 
	<div class="row">
		<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-push-1 col-sm-push-2 col-md-push-2 col-lg-push-2">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active">
					<a href="./">简介</a>
				</li>
				<li role="presentation">
					<a href="./articlelist">文章列表</a>
				</li>
			</ul>
		</div>
	
	</div>
	<div class="row">
		<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-push-1 col-sm-push-2 col-md-push-2 col-lg-push-2">
			{% raw introduce %}
		</div>
	</div>
{% end %}